<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>{{title | raw}}</title>
</head>
<body>
    <div class="container">
        <div class="container">
            {{menu | raw}}
        </div>
        <div class="container">
            {{body | raw}}
        </div>

    </div>


    <footer class="footer">
    <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href=""> Ihar Auchynnikau</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>


</html>